include simulatortofmu/LICENSE.txt
include simulatortofmu/userGuide.pdf
recursive-include simulatortofmu/bin *
recursive-include simulatortofmu/doc *
recursive-include simulatortofmu/fmus *
recursive-include simulatortofmu/parser *
